.shopItem {
    font-family: 'Chilanka', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: auto;
    padding: 20px 20px;
    background-color: #d5edf1;
    margin: 6px 4px;
    height: auto;
    border-radius: 12px;
}

.shopItem>p {
    flex: 1;
}
