@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Source+Sans+Pro&display=swap');
.App {
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 173, 182);
  display: grid;
  place-items: center;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
}